Esta aula cobre os seguintes tópicos:

- Guardar informação com variáveis
- Tipos de dados primitivos em Python: Integer, Float, Boolean, None e String
- Estruturas de dados incorporadas no Python: List, Tuple e Dictionary
- Métodos e operadores suportados pelos tipos de dados primitivos

### Como executar o código

Esta aula é um [Jupyter notebook](https://jupyter.org) executável. Pode _correr_ esta aula e experimentar os exemplos de código de diferentes formas: *localmente no seu computador*, ou *utilizando um serviço online gratuito*.

#### Opção 1: Correr localmente no seu computador

Para correr localmente o código no seu computador, faça download do notebook e abra o ficheiro com uma aplicação ou ambiente de desenvolvimento suportado, por exemplo:
* Visual Studio Code: https://code.visualstudio.com/download
* Anaconda: https://www.anaconda.com/download
* Miniconda: https://docs.conda.io/projects/miniconda/en/latest/

Em qualquer das opções, as aplicações terão de suportar (nativamente ou através de extensões) o [Python](https://www.python.org) e os [Jupyter notebooks](https://jupyter.org), de forma a disponibilizar um ambiente de visualização e execução local com um kernel que execute o código Python contido no notebook.

#### Opção 2: Correr num serviço online gratuito

Para executar o notebook online, faça upload do notebook para o serviço da sua preferência, por exemplo:
* Google Colab: https://colab.google/
* Binder (com repositório GitHub): https://mybinder.org/
* Kaggle: https://www.kaggle.com/


>  **Jupyter Notebooks**: Esta aula é um [Jupyter notebook](https://jupyter.org) - um documento feito de _células_. Cada célula pode conter código escrito em Python ou explicações em português. Pode executar células de código e visualizar os resultados, e.g., números, mensagens, gráficos, tabelas, ficheiros, etc., instantaneamente no notebook. O Jupyter é uma plataforma poderosa para experimentação e análise. Não tenha medo de mexer no código ou estragar alguma coisa - aprenderá muito ao encontrar e corrigir erros. Pode utilizar a opção de menu "Kernel > Restart & Clear Output" (Kernel > Reiniciar e Limpar Saída) para limpar todas as saídas e recomeçar do início.

## Guardar informação com variáveis

Os computadores são úteis para duas finalidades: armazenar dados e efetuar operações sobre os dados armazenados. Quando trabalhamos com uma linguagem de programação como o Python, os dados são armazenados em variáveis. Podemos pensar em variáveis como contentores ou caixas onde podemos armazenar dados. Chamamos aos dados armazenados numa variável o valor da variável. É muito fácil criar variáveis em Python, tal como já vimos no notebook anterior.

In [1]:
minha_cor_favorita = "azul"

In [2]:
minha_cor_favorita

'azul'

Para criar uma variável utilizamos a instrução de atribuição. Começa com o nome da variável, seguido do operador de atribuição `=` seguido pelo valor a ser armazenado na variável.  Note que o operador de atribuição `=` é diferente do operador de comparação de igualdade `==`.

Pode também atribuir valores a múltiplas variáveis numa única instrução separando os nomes das variáveis e valores com vírgulas.

In [3]:
cor1, cor2, cor3 = "vermelho", "verde", "azul"

In [4]:
cor1

'vermelho'

In [5]:
cor2

'verde'

In [6]:
cor3

'azul'

Podemos atribuir o mesmo valor a múltiplas variáveis encadeando múltiplas operações de atribuição numa única instrução.

In [7]:
cor4 = cor5 = cor6 = "magenta"

In [8]:
cor4

'magenta'

In [9]:
cor5

'magenta'

In [10]:
cor6

'magenta'

Podemos alterar o valor armazenado numa variável atribuindo-lhe um novo valor com outra instrução de atribuição. Temos de ter atenção ao atribuir novos valores a variáveis: ao atribuir um novo valor à variável, o valor antigo é perdido e deixa de estar acessível.

In [11]:
minha_cor_favorita = "vermelho"

In [12]:
minha_cor_favorita

'vermelho'

Ao atribuir um novo valor a uma variável, podemos também usar o valor antigo da variável para calcular o novo valor.

In [13]:
contador = 10

In [14]:
contador = contador + 1

In [15]:
contador

11

A forma `var = var op qualquer_coisa` (onde `op` é um operador aritmético como `+`, `-`, `*`, `/`) é muito comum, por isso o Python fornece uma sintaxe *abreviada* para isso.

In [16]:
contador = 10

In [17]:
# Mesmo que `contador = contador + 4`
contador += 4

In [18]:
contador

14

Os nomes das variáveis podem ser curtos (`a`, `x`, `y`, etc.) ou descritivos ( `minha_cor_favorita`, `margem_de_lucro`, `os_3_mosqueteiros`, etc.). Contudo, deve seguir estas regras ao definir o nome de variáveis Python:

* O nome de uma variável tem de começar por uma letra ou o caracter de *underscore* `_`. Não pode começar por um número.
* Um nome de variável pode conter apenas letras minúsculas ou maiúsculas, dígitos, ou underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Os nomes das variáveis são *case-sensitive*, i.e., `uma_variavel`, `Uma_Variavel`, e `UMA_VARIAVEL` são todas variáveis diferentes.

Aqui estão alguns nomes válidos de variáveis:

In [19]:
uma_variavel = 23
hoje_e_sabado = False
meu_carro_favorito = "Delorean"
os_3_mosqueteiros = ["Athos", "Porthos", "Aramis"]

Vamos tentar criar algumas variáveis com nomes inválidos. O Python exibe um erro de sintaxe se o nome da variável for inválido.

> **Sintaxe**: A sintaxe de uma linguagem de programação refere-se às regras que governam a estrutura de uma instrução (*statement*) válida . Se uma instrução não seguir essas regras, o Python interrompe a execução e informa-nos que existe um erro de sintaxe (*syntax error*). Podemos pensar na sintaxe como as regras de gramática para uma linguagem de programação.

In [20]:
uma variável = 23

SyntaxError: invalid syntax (558055837.py, line 1)

In [21]:
hoje_e_$abado = False

SyntaxError: invalid syntax (2858286552.py, line 1)

In [22]:
meu-carro-favorito = "Delorean"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3232944028.py, line 1)

In [ ]:
3_mosqueteiros = ["Athos", "Porthos", "Aramis"]

### Guardar o seu notebook

É muito importante guardar o seu trabalho com frequência. Pode continuar a trabalhar mais tarde num notebook que gravou anteriormente ou pode partilhá-lo com outras pessoas e permitir que executem o seu código.

## Tipos de dados incorporados no Python

Quaisquer dados ou informação armazenada numa variável Python tem um *tipo*. Podemos ver o tipo de dados armazenados numa variável usando a função `type`.

In [23]:
uma_variavel

23

In [24]:
type(uma_variavel)

int

In [25]:
hoje_e_sabado

False

In [26]:
type(hoje_e_sabado)

bool

In [27]:
meu_carro_favorito

'Delorean'

In [28]:
type(meu_carro_favorito)

str

In [29]:
os_3_mosqueteiros

['Athos', 'Porthos', 'Aramis']

In [30]:
type(os_3_mosqueteiros)

list

O Python tem diversos tipos de dados incorporados para armazenar diferentes tipos de informação em variáveis. A seguir estão alguns tipos de dados frequentemente utilizados:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, e string são *tipos de dados primitivos* porque representam um único valor. Outros tipos de dados como listas, tuplos e dicionários são frequentemente chamados de *estruturas de dados* ou *containers* porque armazenam vários dados na mesma variável.

### Inteiros (*Integer*)

Os inteiros representam números inteiros positivos ou negativos, de menos infinito a mais infinito. Note que os inteiros não devem incluir casas decimais. Os inteiros têm o tipo `int`.

In [31]:
ano_atual = 2020

In [32]:
ano_atual

2020

In [33]:
type(ano_atual)

int

Ao contrário de outras linguagens de programação, os inteiros em Python podem ser arbitrariamente grandes (ou pequenos). Não há o valor mais baixo ou mais alto para os inteiros, e há apenas o tipo `int` type (ao contrário de `short`, `int`, `long`, `long long`, `unsigned int`, etc. em C/C++/Java).

In [34]:
um_numero_negativo_grande = -23374038374832934334234317348343

In [35]:
um_numero_negativo_grande

-23374038374832934334234317348343

In [36]:
type(um_numero_negativo_grande)

int

### Decimais (*Float*)

Decimais (ou números de vírgula flutuante) são números com casas decimais. Não há limites para o valor ou o número de dígitos antes ou depois do ponto decimal. Os números decimais têm o tipo `float`.

In [37]:
pi = 3.141592653589793238

In [38]:
pi

3.141592653589793

In [39]:
type(pi)

float

Note que um número inteiro é tratado como um float se for escrito com um ponto decimal, mesmo se a parte decimal do número for zero.

In [40]:
um_numero = 3.0

In [41]:
um_numero

3.0

In [42]:
type(um_numero)

float

In [43]:
outro_numero = 4.

In [44]:
outro_numero

4.0

In [45]:
type(outro_numero)

float

Os números de vírgula flutuante também podem ser escritos usando a notação científica com um "e" para indicar a potência de 10.

In [46]:
um_centesimo = 1e-2

In [47]:
um_centesimo

0.01

In [48]:
type(um_centesimo)

float

In [49]:
numero_de_avogadro = 6.02214076e23

In [50]:
numero_de_avogadro

6.02214076e+23

In [51]:
type(numero_de_avogadro)

float

Podemos converter floats em inteiros e vice-versa usando as funções `float` e `int`. A operação de converter um tipo de valor em outro é chamada *casting*.

In [52]:
float(ano_atual)

2020.0

In [53]:
float(um_numero_negativo_grande)

-2.3374038374832935e+31

In [54]:
int(pi)

3

In [55]:
int(numero_de_avogadro)

602214075999999987023872

Ao efetuar operações aritméticas, os inteiros são automaticamente convertidos para `float`s se algum dos operandos for um `float`. Além disso, o operador de divisão `/` retorna sempre um `float`, mesmo se ambos os operandos forem inteiros. Utilize o operador `//` caso queira que o resultado de uma divisão seja um `int`.

In [56]:
type(45 * 3.0)

float

In [57]:
type(45 * 3)

int

In [58]:
type(10/3)

float

In [59]:
type(10/2)

float

In [60]:
type(10//2)

int

### Booleanos (*Boolean*)

Os booleanos representam um de 2 valores: `True` e `False`. Os booleanos têm o tipo `bool`.

In [61]:
hoje_e_domingo = True

In [62]:
hoje_e_domingo

True

In [63]:
type(hoje_e_domingo)

bool

Os booleanos são geralmente o resultado de uma operação de comparação, e.g., `==`, `>=`, etc.

In [64]:
custo_do_saco_de_gelo = 1.25
saco_de_gelo_caro = custo_do_saco_de_gelo >= 10

In [65]:
saco_de_gelo_caro

False

In [66]:
type(saco_de_gelo_caro)

bool

Os booleanos são automaticamente convertidos para `int`s quando usados em expressões aritméticas. `True` é convertido para `1` e `False` é convertido para `0`.

In [67]:
5 + False

5

In [68]:
3. + True

4.0

Qualquer valor em Python pode ser convertido para um booleano utilizando a função `bool`. 

Apenas os valores seguintes avaliam para `False` (são normalmente chamados valores *falsy*):

1. O próprio valor `False`
2. O inteiro `0`
3. O float `0.0`
4. O valor vazio `None`
5. O texto vazio `""`
6. A lista vazia `[]`
7. O tuplo vazio `()`
8. O dicionário vazio `{}`
9. O conjunto vazio `set()`
10. A range vazia `range(0)`

Tudo o resto avalia para `True` (um valor que avalia para `True` é normalmente chamado um valor *truthy*).

In [69]:
bool(False)

False

In [70]:
bool(0)

False

In [71]:
bool(0.0)

False

In [72]:
bool(None)

False

In [73]:
bool("")

False

In [74]:
bool([])

False

In [75]:
bool(())

False

In [76]:
bool({})

False

In [77]:
bool(set())

False

In [78]:
bool(range(0))

False

In [79]:
bool(True), bool(1), bool(2.0), bool("olá"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

O tipo None inclui um único valor `None`, usado para indicar a ausência de um valor. `None` tem o tipo `NoneType`. É frequentemente usado para declarar uma variável cujo valor poderá ser atribuído mais tarde.

In [80]:
nada = None

In [81]:
type(nada)

NoneType

### String

Uma string é usada para representar texto (*a string of characters*) in Python. As strings têm de ser delimitadas por aspas (`"`) ou plicas (`'`). As strings têm o tipo `string`.

In [82]:
hoje = "Sábado"

In [83]:
hoje

'Sábado'

In [84]:
type(hoje)

str

Podemos usar plicas dentro de uma string escrita entre aspas, e vice-versa.

In [85]:
meu_filme_favorito = "One Flew over the Cuckoo's Nest"

In [86]:
meu_filme_favorito

"One Flew over the Cuckoo's Nest"

In [87]:
meu_trocadilho_favorito = 'Thanks for explaining the word "many" to me, it means a lot.'

In [88]:
meu_trocadilho_favorito

'Thanks for explaining the word "many" to me, it means a lot.'

Para usar aspas dentro de uma string escrita entre aspas, podemos fazer *escape* das aspas interiores prefixando-as com o caracter `\`.

In [89]:
outro_trocadilho = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [90]:
outro_trocadilho

'The first time I got a universal remote control, I thought to myself "This changes everything".'

As strings criadas com plicas ou aspas têm de iniciar e terminar na mesma linha. Para criar strings de várias linhas podemos utilizar três plicas `'''` ou três aspas `"""` no início e no final da string. As quebras de linhas são representadas pelo caracter de nova linha `\n`.

In [91]:
ainda_outro_trocadilho = '''Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."'''

In [92]:
ainda_outro_trocadilho

'Son: "Dad, can you tell me what a solar eclipse is?"\nDad: "No sun."'

As strings de várias linhas são mais bem representadas com a função `print`.

In [93]:
print(ainda_outro_trocadilho)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [94]:
um_trocadilho_musical = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [95]:
print(um_trocadilho_musical)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

Podemos visualizar o comprimento de uma string usando a função `len`.

In [96]:
len(meu_filme_favorito)

31

Note que caracteres especiais como `\n` e caracteres *escaped* como `\"` contam como um único caracter, ainda que sejam escritos e às vezes exibidos como dois caracteres.

In [97]:
string_de_varias_linhas = """a
b"""
string_de_varias_linhas

'a\nb'

In [98]:
len(string_de_varias_linhas)

3

Uma string pode ser convertida numa lista de caracteres com a função `list`.

In [99]:
list(string_de_varias_linhas)

['a', '\n', 'b']

As strings suportam também diversas operações sobre listas, que vamos ver mais à frente, e um ou dois exemplos aqui.

Podemos aceder a caracteres individuais de uma string usando a notação de indexação `[]`. Note que os índices de caracteres vão de `0` a `n-1`, onde `n` é o comprimento da string.

In [100]:
hoje = "sexta-feira"

In [101]:
hoje[0]

's'

In [102]:
hoje[3]

't'

In [103]:
hoje[10]

'a'

Podemos aceder a uma parte da string fornecendo uma range `inicio:fim` em vez de um único índice em `[]`.

In [104]:
hoje[:11]

'sexta-feira'

Podemos também verificar se uma string contém um dado texto com o operador `in`.

In [105]:
'feira' in hoje

True

In [106]:
'segunda' in hoje

False

Podemos juntar ou *concatenar* duas ou mais strings com o operador `+`. Temos de ter atenção ao concatenar strings, por vezes podemos ter de adicionar um caracter de espaço `" "` entre palavras.

In [107]:
nome_completo = "João Santos"

In [108]:
cumprimento = "Olá"

In [109]:
cumprimento + nome_completo

'OláJoão Santos'

In [110]:
cumprimento + " " + nome_completo + "!" # espaço adicional

'Olá João Santos!'

As strings em Python têm muitos *métodos* incorporados que são usados para as manipular de diferentes formas. Vamos experimentar alguns métodos de strings usados com frequência.

> **Métodos**: Os métodos são funções associadas a tipos de dados e são acedidos com a notação `.` e.g. `nome_variavel.metodo()` or `"uma variável".metodo()`. Os métodos são uma técnica poderosa para associar operações comuns a valores de tipos de dados específicos.

Os métodos `.lower()`, `.upper()` e `.capitalize()` são usados para alterar a utilização de maiúsculas e minúsculas em caracteres.

In [111]:
hoje.lower()

'sexta-feira'

In [112]:
"sábado".upper()

'SÁBADO'

In [113]:
"segunda-feira".capitalize() # altera o primeiro caracter para maiúscula

'Segunda-feira'

O método `.replace` substitui uma parte da string por outra string. O método toma a porção a ser substituída e o texto de substituição como *inputs* ou *argumentos*.

In [114]:
outro_dia = hoje.replace("sexta", "quinta")

In [115]:
outro_dia

'quinta-feira'

Note que o `replace` retorna uma nova string, e a string original não é alterada.

In [116]:
hoje

'sexta-feira'

O método `.split` divide uma string numa lista de strings em cada ocorrência do(s) caracter(es) fornecido(s).

In [117]:
"Seg,Ter,Qua,Qui,Sex,Sab,Dom".split(",")

['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']

O método `.strip` remove caracteres de espaço do início e final da string.

In [118]:
uma_linha_longa = "       Esta é uma linha longa como alguns espaços antes, depois,     e alguns espaços no meio..    "

In [119]:
uma_linha_longa_stripped = uma_linha_longa.strip()

In [120]:
uma_linha_longa_stripped

'Esta é uma linha longa como alguns espaços antes, depois,     e alguns espaços no meio..'

O método `.format` combina valores de outros tipos de dados, e.g., inteiros, floats, booleanos, listas, etc. com strings. Podemos usar o `format` para construir mensagens de output para exibir no ecrã.

In [121]:
# Variáveis de entrada
custo_do_saco_de_gelo = 1.25
margem_de_lucro = .2
numero_de_sacos = 500

# Template para mensagem de output
template_output = """Se uma mercearia vende sacos de gelo a {} € por saco, com uma margem de lucro de {} %, 
então o lucro total obtido ao vender {} sacos de gelo é de {} €."""

print(template_output)

Se uma mercearia vende sacos de gelo a {} € por saco, com uma margem de lucro de {} %,
então o lucro total obtido ao vender {} sacos de gelo é de {} €.

In [122]:
# Inserir valores na string
lucro_total = custo_do_saco_de_gelo * margem_de_lucro * numero_de_sacos
mensagem_output = template_output.format(custo_do_saco_de_gelo, margem_de_lucro*100, numero_de_sacos, lucro_total)

print(mensagem_output)

Se uma mercearia vende sacos de gelo a 1.25 € por saco, com uma margem de lucro de 20.0 %,
então o lucro total obtido ao vender 500 sacos de gelo é de 125.0 €.

Note como os placeholders `{}` na string `template_output` são substituídos pelos argumentos fornecidos ao método`.format`.

É também possível usar o operador de concatenação `+` para combinar strings com outros valores. Contudo, esses valores têm de ser primeiro convertidos para strings com a função `str`.

In [123]:
"Se uma mercearia vende sacos de gelo a " + custo_do_saco_de_gelo + " €, com uma margem de lucro de " + margem_de_lucro

TypeError: can only concatenate str (not "float") to str

In [124]:
"Se uma mercearia vende sacos de gelo a " + str(custo_do_saco_de_gelo) + " €, com uma margem de lucro de " + str(margem_de_lucro)

'Se uma mercearia vende sacos de gelo a 1.25 €, com uma margem de lucro de 0.2'

Podemos usar o `str` para converter um valor de qualquer tipo de dados para uma string.

In [125]:
str(23)

'23'

In [126]:
str(23.432)

'23.432'

In [127]:
str(True)

'True'

In [128]:
os_3_mosqueteiros = ["Athos", "Porthos", "Aramis"]
str(os_3_mosqueteiros)

"['Athos', 'Porthos', 'Aramis']"

Note que todos os métodos de string retornam novos valoes e NÃO alteram a string existente. Pode encontrar uma lista completa de métodos de string aqui: https://www.w3schools.com/python/python_ref_string.asp.

As strings também suportam os operadores de comparação `==` e `!=` para verificar se duas strings são iguais.

In [129]:
primeiro_nome = "João"

In [130]:
primeiro_nome == "Maria"

False

In [131]:
primeiro_nome == "João"

True

In [132]:
primeiro_nome != "Ana"

True

Acabámos de ver os tipos de dados primitivos em Python. Estamos agora prontos para explorar estruturas de dados não primitivas, também conhecidas como containers.

Antes de continuar, vamos gravar o notebook para guardar as alterações.

### Listas

Uma lista em Python é uma coleção ordenada de valores. As listas podem armazenar valores de diferentes tipos de dados e suportar operações para adicionar, remover e alterar valores. As listas têm o tipo `list`.

Para criar uma lista, colocamos uma sequência de valores dentro de parêntesis retos, `[` and `]`, separados por vírgulas.

In [133]:
frutos = ['maçã', 'banana', 'cereja']

In [134]:
frutos

['maçã', 'banana', 'cereja']

In [135]:
type(frutos)

list

Vamos tentar criar uma lista com valores de diferentes tipos de dados, incluindo outra lista.

In [136]:
uma_lista = [23, 'olá', None, 3.14, frutos, 3 <= 5]

In [137]:
uma_lista

[23, 'olá', None, 3.14, ['maçã', 'banana', 'cereja'], True]

In [138]:
lista_vazia = []

In [139]:
lista_vazia

[]

Podemos usar a função `len` para determinar o número de valores numa lista. Na verdade, podemos usar o `len` para determinar o número de valores em diversos outros tipos de dados.

In [140]:
len(frutos)

3

In [141]:
print("Número de frutos:", len(frutos))

Número de frutos: 3

In [142]:
len(uma_lista)

6

In [143]:
len(lista_vazia)

0

Podemos aceder a um elemento da lista usando o seu *índice*, e.g., `frutos[2]` retorna o elemento no índice 2 na lista `frutos`. O índice inicial de uma lista é 0.

In [144]:
frutos[0]

'maçã'

In [145]:
frutos[1]

'banana'

In [146]:
frutos[2]

'cereja'

Se tentarmos aceder a um índice igual ou superior ao comprimento da lista, o Python retorna um `IndexError`.

In [147]:
frutos[3]

IndexError: list index out of range

In [148]:
frutos[4]

IndexError: list index out of range

Podemos usar índices negativos para aceder a elementos a partir do final da lista, e.g., `frutos[-1]` retorna o último elemento, `frutos[-2]` retorna o penúltimo elemento, e assim por diante.

In [149]:
frutos[-1]

'cereja'

In [150]:
frutos[-2]

'banana'

In [151]:
frutos[-3]

'maçã'

In [152]:
frutos[-4]

IndexError: list index out of range

Também podemos aceder a uma gama (*range*) de valores da lista. O resultado é ele próprio uma lista. Vamos ver alguns exemplos.

In [153]:
uma_lista = [23, 'olá', None, 3.14, frutos, 3 <= 5]

In [154]:
uma_lista

[23, 'olá', None, 3.14, ['maçã', 'banana', 'cereja'], True]

In [155]:
len(uma_lista)

6

In [156]:
uma_lista[2:5]

[None, 3.14, ['maçã', 'banana', 'cereja']]

Note que a range `2:5` inclui o elemento no índice inicial `2` mas não inclui o elemento no índice final `5`. Assim, o resultado tem 3 valores (índices `2`, `3`, e `4`).

Aqui estão algumas experiências que pode fazer (use as células vazias abaixo):

* Experimente fazer com que um ou ambos os índices da range sejam maiores que o tamanho da lista, e.g., `uma_lista[2:10]`
* Experimente fazer com que o índice inicial da range seja maior que o índice final, e.g., `uma_lista[12:10]`
* Experimente deixar em branco o índice inicial ou o final da range, e.g., `uma_lista[2:]` or `uma_lista[:5]`
* Experimente usar índices negativos para a range, e.g., `uma_lista[-2:-5]` ou `uma_lista[-5:-2]` (consegue explicar os resultados?)

> A natureza flexível e interativa dos notebooks Jupyter tornam-nos uma ferramenta excelente para a aprendizagem e experimentação. Se for um iniciante do Python, pode resolver a maioria das dúvidas assim que elas surjem simplesmente escrevendo o código numa célula e executando-o. Deixe a sua curiosidade correr livremente e descubra o que é que o Python é ou não capaz de fazer!

Pode também alterar o valor num índice específico usando a operação de atribuição.

In [157]:
frutos

['maçã', 'banana', 'cereja']

In [158]:
frutos[1] = 'mirtilo'

In [159]:
frutos

['maçã', 'mirtilo', 'cereja']

Podemos adicionar um novo valor ao final de uma lista com o método `append`.

In [160]:
frutos.append('tâmara')

In [161]:
frutos

['maçã', 'mirtilo', 'cereja', 'tâmara']

Podemos inserir um novo valor num índice específico com o método `insert`.

In [162]:
frutos.insert(1, 'banana')

In [163]:
frutos

['maçã', 'banana', 'mirtilo', 'cereja', 'tâmara']

Podemos remover um valor de uma lista com o método `remove`.

In [164]:
frutos.remove('mirtilo')

In [165]:
frutos

['maçã', 'banana', 'cereja', 'tâmara']

O que é que acontece se uma lista tiver múltiplas instâncias de um valor passado ao `.remove`? Experimente.

Podemos usar o método `pop` para remover um elemento num índice específico. O método também retorna o elemento removido.

In [166]:
frutos

['maçã', 'banana', 'cereja', 'tâmara']

In [167]:
frutos.pop(1)

'banana'

In [168]:
frutos

['maçã', 'cereja', 'tâmara']

Se não for fornecido um índice, o método `pop` remove o último elemento da lista.

In [169]:
frutos.pop()

'tâmara'

In [170]:
frutos

['maçã', 'cereja']

Podemos testar se uma lista contém ou não um valor usando o operador `in`.

In [171]:
'ananás' in frutos

False

In [172]:
'cereja' in frutos

True

Podemos usar o operador `+` para combinar duas ou mais listas. Esta operação é também chamada *concatenação*.

In [173]:
frutos

['maçã', 'cereja']

In [174]:
mais_frutos = frutos + ['ananás', 'tomate', 'goiaba'] + ['tâmara', 'banana']

In [175]:
mais_frutos

['maçã', 'cereja', 'ananás', 'tomate', 'goiaba', 'tâmara', 'banana']

Podemos usar o método `copy` para criar uma cópia de uma lista. Modificar a lista copiada não afeta a lista original.

In [176]:
mais_frutos_copia = mais_frutos.copy()

In [177]:
mais_frutos_copia

['maçã', 'cereja', 'ananás', 'tomate', 'goiaba', 'tâmara', 'banana']

In [178]:
# Modificar a cópia
mais_frutos_copia.remove('ananás')
mais_frutos_copia.pop()
mais_frutos_copia

['maçã', 'cereja', 'tomate', 'goiaba', 'tâmara']

In [179]:
# Lista original permanece inalterada
mais_frutos

['maçã', 'cereja', 'ananás', 'tomate', 'goiaba', 'tâmara', 'banana']

Note que não podemos criar uma cópia de uma lista criando simplesmente uma nova variável com o operador de atribuição `=`. A nova variável vai apontar para a mesma lista, e quaisquer alterações efetuadas a qualquer das variáveis vão refletir-se na outra.

In [180]:
mais_frutos

['maçã', 'cereja', 'ananás', 'tomate', 'goiaba', 'tâmara', 'banana']

In [181]:
mais_frutos_nao_copia = mais_frutos

In [182]:
mais_frutos_nao_copia.remove('ananás')
mais_frutos_nao_copia.pop()

'banana'

In [183]:
mais_frutos_nao_copia

['maçã', 'cereja', 'tomate', 'goiaba', 'tâmara']

In [184]:
mais_frutos

['maçã', 'cereja', 'tomate', 'goiaba', 'tâmara']

Tal como nas strings, existem diversos métodos incorporados para manipular listas. Contudo, ao contrário das strings, a maioria dos métodos de listas modificam a lista original em vez de devolver uma nova. Consulte algumas operações comuns sobre listas aqui: https://www.w3schools.com/python/python_ref_list.asp .


Seguem-se alguns exercícios que pode experimentar com métodos de listas (utilize as células em branco abaixo):

* Inverter a ordem dos elementos de uma lista
* Adicionar os elementos de uma lista ao final de outra lista
* Ordenar alfabeticamente uma lista de strings
* Ordenar uma lista de números por ordem decrescente

In [2]:
my_list = [1, 2, 3, 4, 5]
#Inverter a ordem dos elementos de uma lista
my_list.reverse()
print(my_list)
#adicionar um elemento no final da lista
my_list.append(6)
print(my_list)
#ordenar os elementos de uma lista em ordem alfabética
my_list.sort()
print(my_list)
#ordenar os elementos de uma lista em ordem decrescente
my_list.sort(reverse=True)
print(my_list)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1, 6]
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

### Tuplos

Um tuplo é uma coleção ordenada de valores, similarmente a uma lista. Contudo, não é possível adicionar, remover, ou modificar valores num tuplo. Um tuplo é criado colocando um conjunto de valores entre parêntesis `(` and `)`, separados por vírgulas.

> Qualquer estrutura de dados que não pode ser modificada depois de criada é designada *imutável*. Podemos pensar nos tuplos como listas imutáveis.

Vamos fazer algumas experiências com tuplos.

In [185]:
frutos = ('maçã', 'cereja', 'tâmara')

In [186]:
# verificar número de elementos
len(frutos)

3

In [187]:
# obter um elemento (índice positivo)
frutos[0]

'maçã'

In [188]:
# obter um elemento (índice negeativo)
frutos[-2]

'cereja'

In [189]:
# verificar se contém um elemento
'tâmara' in frutos

True

In [190]:
# tentar alterar um elemento
frutos[0] = 'abacate'

TypeError: 'tuple' object does not support item assignment

In [191]:
# tentar adicionar um elemento ao final do tuplo
frutos.append('mirtilo')

AttributeError: 'tuple' object has no attribute 'append'

In [192]:
# tentar remover um elemento
frutos.remove('maçã')

AttributeError: 'tuple' object has no attribute 'remove'

Também pode omitir os parêntesis `(` and `)` ao criar um tuplo. O Python converte automaticamente valores separados por vírgula em tuplos.

In [193]:
os_3_mosqueteiros = 'Athos', 'Porthos', 'Aramis'

In [194]:
os_3_mosqueteiros

('Athos', 'Porthos', 'Aramis')

Podemos também criar um tuplo com apenas um elemento escrevendo uma vírgula a seguir ao elemento. Envolver apenas com parêntesis `(` and `)` não vai fazer um tuplo.

In [195]:
tuplo_com_um_elemento = 4,

In [196]:
tuplo_com_um_elemento

(4,)

In [197]:
outro_tuplo_com_um_elemento = (4,)

In [198]:
outro_tuplo_com_um_elemento

(4,)

In [199]:
nao_tuplo = (4)

In [200]:
nao_tuplo

4

Os tuplos são usados frequentemente para criar múltiplas variáveis numa única instrução.

In [201]:
ponto = (3, 4)

In [202]:
ponto_x, ponto_y = ponto

In [203]:
ponto_x

3

In [204]:
ponto_y

4

Podemos converter uma lista num tuplo com a função `tuple`, e vice-versa com a função `list`

In [205]:
tuple(['um', 'dois', 'três'])

('um', 'dois', 'três')

In [206]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Os tuplos têm apenas dois métodos incorporados: `count` e `index`. Consegue descobrir o que fazem? Embora possa procurar exemplos e documentação online, há uma forma mais fácil de verificar a documentação de um método, usando a função `help`.

In [207]:
um_tuplo = 23, "olá", False, None, 23, 37, "olá"

In [208]:
help(um_tuplo.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

Num notebook Jupyter, podemos também iniciar uma célula de códico com `?` e escrever o nome de uma função ou método. Ao executar essa célula, iremos ver a documentação da função/método inline ou numa janela de pop-up, dependendo do ambiente onde está a executar o Jupyter.

In [209]:
?um_tuplo.index

Signature: um_tuplo.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

Experimente usar o `count` e `index` com `um_tuplo` nas células de código abaixo.

In [219]:
?um_tuplo.count

Signature: um_tuplo.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [220]:
?um_tuplo.index

Signature: um_tuplo.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

### Dicionário

Um dicionário é uma coleção não ordenada de itens. Cada item armazenado num dicionário tem uma chave e um valor. Pode utilizar uma chave para obter o valor correspondente no dicionário. Os dicionários têm o tipo `dict`.

Os dicionários são muitas vezes usados para guardar várias informações e.g. detalhes de uma pessoa, numa única variável. Para criar um dicionário colocamos pares chave-valor entre chavetas `{` e `}`.

In [221]:
pessoa1 = {
    'nome': 'João Santos',
    'género': 'Masculino',
    'idade': 32,
    'casado': True
}

In [222]:
pessoa1

{'nome': 'João Santos', 'género': 'Masculino', 'idade': 32, 'casado': True}

Os dicionários também podem ser criados usando a função `dict`.

In [223]:
pessoa2 = dict(nome='Ana Maria', género='Female', idade=28, casado=False)

In [224]:
pessoa2

{'nome': 'Ana Maria', 'género': 'Female', 'idade': 28, 'casado': False}

In [225]:
type(pessoa1)

dict

Podemos usar as chaves ppara aceder a valores com parêntesis retos `[` e `]`.

In [226]:
pessoa1['nome']

'João Santos'

In [227]:
pessoa1['casado']

True

In [228]:
pessoa2['nome']

'Ana Maria'

Se uma chave não estiver presente num dicionário, é lançado(*thrown*) um `KeyError`.

In [229]:
pessoa1['morada']

KeyError: 'morada'

Podemos também usar o método `get` para aceder ao valor associado a uma chave.

In [230]:
pessoa2.get("nome")

'Ana Maria'

O método `get` também aceita um valor por omissão, que é retornado se uma chave não está presente no dicionário.

In [231]:
pessoa2.get("morada", "Desconhecida")

'Desconhecida'

Podemos verificar se uma chave está presente num dicionário com o operador `in`.

In [232]:
'nome' in pessoa1

True

In [233]:
'morada' in pessoa1

False

Podemos alterar o valor associado a uma chave com o operador de atribuição.

In [234]:
pessoa2['casada']

KeyError: 'casada'

In [235]:
pessoa2['casada'] = True

In [236]:
pessoa2['casada']

True

O operador de atribuição pode também ser usado para adicionar novos pares chave-valor ao dicionário.

In [237]:
pessoa1

{'nome': 'João Santos', 'género': 'Masculino', 'idade': 32, 'casado': True}

In [238]:
pessoa1['morada'] = 'Rua Central, 1'

In [239]:
pessoa1

{'nome': 'João Santos',
 'género': 'Masculino',
 'idade': 32,
 'casado': True,
 'morada': 'Rua Central, 1'}

Podemos remover uma chave e valor associado do dicionário com o método `pop`.

In [240]:
pessoa1.pop('morada')

'Rua Central, 1'

In [241]:
pessoa1

{'nome': 'João Santos', 'género': 'Masculino', 'idade': 32, 'casado': True}

Os dicionários também fornecem métodos para ver a lista de chaves, valores, ou pares chave-valor presentes no dicionário.

In [242]:
pessoa1.keys()

dict_keys(['nome', 'género', 'idade', 'casado'])

In [243]:
pessoa1.values()

dict_values(['João Santos', 'Masculino', 32, True])

In [244]:
pessoa1.items()

dict_items([('nome', 'João Santos'), ('género', 'Masculino'), ('idade', 32), ('casado', True)])

In [245]:
pessoa1.items()[1]

TypeError: 'dict_items' object is not subscriptable

Os resultados de `keys`, `values`, e `items` parecem listas. No entanto, eles não suportam o operador `[]` para obter elementos. 

Consegue descobrir como aceder a um elemento num índice específico destes resultados? Experimente abaixo. *Dica: use a função `list`*

Os dicionários oferecem muitos outros métodos. Pode aprender mais sobre eles aqui: https://www.w3schools.com/python/python_ref_dictionary.asp .

Aqui estão algumas experiências que pode fazer com dicionários (utilize as células vazias abaixo):
* O que acontece se usar a mesma chave múltilas vezes ao criar um dicionário?
* Como é que podemos criar uma cópia de um dicionário (modificar a cópia não deverá afetar o original)?
* O valor associado a uma chave pode ser ele próprio um dicionário?
* Como é que podemos adicionar pares chave-valor de um dicionário noutro dicionário? Dica: consulte o método `update`.
* As chaves de um dicionários podem ser outra coisa que não strings, e.g., um número, booleano, lista, etc.?

Terminamos assim a nossa exploração de variáveis e tipos de dados comuns em Python. Estamos agora prontos para avançar para a próxima aula, com instruções condicionais e ciclos em Python!

### Guardar o seu notebook

É muito importante guardar o seu trabalho com frequência. Pode continuar a trabalhar mais tarde num notebook que gravou anteriormente ou pode partilhá-lo com outras pessoas e permitir que executem o seu código.

## Questões para Revisão

Tente responder às seguintes questões para testar a sua compreensão sobre os tópicos cobertos neste notebook:

1. O que é uma variável em Python?
2. Como é que criamos uma variável?
3. Como é que verificamos o valor de uma variável?
4. Como é que criamos múltiplas variáveis numa única instrução?
5. Como é que criamos múltiplas variáveis com o mesmo valor?
6. Como é que alteramos o valor de uma variável?
7. Como é que atribuímos um novo valor a uma variável modificando o valor anterior?
8. O que é que faz a instrução `contador += 4`?
9. Quais são as regras para dar um nome a uma variável?
10. Os nomes das variáveis são case-sensitive? Os nomes `uma_variavel`, `Uma_Variavel`, e `UMA_VARIAVEL` representam a mesma variável ou variáveis diferentes?
11. O que é a Sintaxe? Por que é que é importante?
12. O que acontece se executar uma instrução com sintaxe inválida?
13. Como é que verificamos o tipo de dados de uma variável?
14. Quais são os tipos de dados primitivos em Python?
15. O que é um tipo de dados primitivo? 
16. Quais são os tipos de dados primitivos disponíveis no Python?
17. O que é uma estrutura de dados ou um tipo de dados container?
18. Qais são os tipos container disponíveis no Python?
19. Que tipos de dados é que representa o tipo Integer?
20. Quais são os limites numéricos do tipo de dados inteiro?
21. Que tipos de dados é que representa o tipo float?
22. Como é que o Python decide se um dado número é um float ou um inteiro?
23. Como é que pode criar uma variável que guarda um número inteiro, e.g., 4 mas tem o tipo de dados float?
24. Como é que pode criar floats que representam números muito grandes (e.g., 6.023 x 10^23) ou muito pequenos (0.000000123)?
25. O que é que a expressão `23e-12` representa?
26. Os floats podem ser usados para armazenar números com precisão ilimitada?
27. Quais são as diferenças entre os inteiros e floats?
28. Como é que pode converter um inteiro para um float?
29. Como é que pode converter um float para um inteiro?
30. Qual é o resultado obtido quando converte 1.99 para um inteiro?
31. Quais são os tipos de dados dos resultads dos operadores de divisão `/` e `//`?
32. Que tipos de dados representa o tipo de dados booleano?
33. Que tipos de operadores Python retornam booleanos como resultado?
34. O que acontece se tentar usar um booleano numa operação aritmética?
35. Como é que qualquer valor em Python pode ser convertido num booleano?
36. O que são valores truthy e falsy?
37. Quais são os valores em Python que avaliam para False?
38. Dê alguns exemplos de valores que avaliam para True.
39. Que tipos de dados representa o tipo de dados None?
40. Para que serve o None?
41. Que tipos de dados representa o tipo de dados String?
42. Quais são as diferentes formas de criar strings em Python?
43. Qual é a diferença entre as strings criadas utilizando plicas, i.e. `'` e `'` vs. strings criadas com aspas, i.e. `"` e `"`?
44. Como é que pode criar strings de várias linhas em Python?
45. O que é o caracter de nova linha, `\n`?
46. O que são caracteres "escaped"? Como é que podem ser úteis?
47. Como é que pode verificar o comprimento de uma string?
48. Como é que pode converter uma string numa lista de caracteres?
49. Como é que pode aceder a um caracter específico numa string?
50. Como é que pode aceder a uma gama de caracteres de uma string?
51. Como é que pode verificar se um caracter específico ocorre numa string?
52. Como é que pode verificar se uma string mais pequena ocorre numa string maior?
53. Como é que pode juntar duas ou mais strings?
54. O que são "métodos" em Python? Como é que são diferentes de funções?
55. O que é que os métodos `.lower`, `.upper` e `.capitalize` fazem em strings?
56. Como é que pode substituir uma parte específica de uma string com outra coisa?
57. Como é que pode separar a string "Seg,Ter,Qua,Qui,Sex,Sab,Dom" numa lista de dias?
58. Como é que pode remover espaços do início e do final de uma string?
59. Para que é usado o método `.format`? Pode dar um exemplo?
60. Quais são os benefícios de usar o método `.format` em vez de usar concatenação de strings?
61. Como é que pode converter um valor de outro tipo numa string?
62. Como é que pode verificar se duas strings têm o mesmo valor?
63. Onde é que pode encontrar a lista de todos os métodos suportados pelas strings?
64. O que é uma lista em Python?
65. Como é que pode criar uma lista em Python?
66. Uma lista Python pode conter valores de diferentes tipos de dados?
67. Uma lista pode conter outra lista como um elemento?
68. Pode criar uma lista sem valores?
69. Como é que pode verificar o tamanho de uma lista em Python?
70. Como é que pode obter um valor de uma lista?
71. Qual é o índice menor e maior que pode usar para aceder a elementos de uma lista contendo cinco elementos?
72. O que acontece se tentar aceder a um índice igual ou maior que o tamanho de uma lista?
73. O que acontece se tentar aceder a um índice negativo de uma lista?
74. Como aceder a uma gama de elementos de uma lista?
75. Quantos elementos tem a lista retornada pela expressão `uma_lista[2:5]`?
76. O que é que as ranges `uma_lista[:2]` e `uma_lista[2:]` representam?
77. Como é que pode alterar um item armazenado num índice específico numa lista?
78. Como é que pode inserir um novo item no início, meio, ou final de uma lista?
79. Como é que pode remover um item de uma lista?
80. Como é que pode remover o tiem num dado índice de uma lista?
81. Como é que pode verificar se uma lista contém um dado valor?
82. Como é que pode combinar duas ou mais listas para criar uma lista maior?
83. Como é que pode criar uma cópia de uma lista?
84. A expressão `uma_nova_lista = uma_lista` cria uma cópia da lista `uma_lista`?
85. Onde é que pode encontrar a lista de todos os métodos suportados por listas?
86. O que é um tuplo em Python?
87. De que forma é que um tuplo é diferente de uma lista?
88. Pode adicionar ou remover elementos num tuplo?
89. Como é que pode criar um tuplo com apenas um elemento?
90. Como é que pode converter um tuplo para uma lista e vice-versa?
91. Para que são usados os métodos `count` e `index` em tuplos?
92. O que é um dicionário em Python?
93. Como é que pode criar um dicionário?
94. O que são chaves e valores?
95. Como é que pode aceder ao valor associado a uma chave específica num dicionário?
96. O que acontece se tentar aceder a um valor para uma chave que não existe num dicionário?
97. Para que é usado o método `.get` de um dicionário?
98. Como é que pode alterar o valor associado a uma chave num dicionário?
99. Como é que pode adicionar ou remover um par chave-valor num dicionário?
100. Como é que pode aceder às chaves, valores, e pares chave-valor num dicionário?

## Referências

Este notebook é uma adaptação traduzida do curso *<u>Data Analysis with Python: Zero to Pandas</u>* de AaKash N S / [Jovian.ai](https://jovian.ai)

Outras referências:
* McKinney, W., Python for Data Analysis, 3rd. Ed. O'Reilly. Versão online em https://wesmckinney.com/book/ 
* Documentação oficial do Python: https://docs.python.org/3/tutorial/index.html
* Tutorial Python do W3Schools: https://www.w3schools.com/python/
* Practical Python Programming: https://dabeaz-course.github.io/practical-python/Notes/Contents.html
* Jupyter Notebooks: https://docs.jupyter.org
* Markdown Reference: https://www.markdownguide.org