# Exercício de Aula 5 - Análise de Dados com Pandas

Neste exercício, poderá praticar alguns dos conceitos cobertos na aula

Ao percorrer este notebook, irá encontrar um **???** em certos sítios. Para completar este exercício, deverá substituir todos os **???** com valores, expressões ou instruções apropriadas de forma a garantir que o notebook executa corretamente do início até ao fim.

Algumas coisas para ter em mente:

* Certifique-se que executa todas as células de código, de outra forma poderá obter erros como `NameError` para variáveis não definidas.
* Não altere nomes de variáveis, não apague células nem altere outro código existente. Pode causar problemas na avaliação.
* Em alguns casos, pode ter de adicionar algumas células de código ou novas instruções antes ou depois da linha de código contendo os **???**. 
* As questões marcadas com **(Opcional)** não são consideradas para avaliação e podem ser ignoradas, sendo apenas para desafio ou aprendizagem adicional.

In [1]:
import pandas as pd

C:\Users\klysm\AppData\Local\Temp\ipykernel_9896\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Neste exercício, vamos analisar e trabalhar com dados de um ficheiro CSV. Vamos começar por descarregar o ficheiro CSV.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://raw.githubusercontent.com/davsimoes/mcde-pds/main/res/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x22dfc782ad0>)

Vamos carregar os dados do ficheiro CSV para um dataframe Pandas.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**P1: Quantos países é que estão contidos no dataframe?**

Dica: Use o método `.shape`.

In [9]:
num_countries = countries_df.shape[0]
print('Existem {} países no dataset'.format(num_countries))

Existem 210 países no dataset

**P2: Obtenha uma lista de continentes do dataframe**

*Hint: Use o método `.unique` de uma série.*

In [10]:
continents = countries_df.continent.unique()
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

**P3: Qual é a população total de todos os países listados neste dataset?**

In [11]:
total_population = countries_df.population.sum()
print('A população total é {}.'.format(int(total_population)))

A população total é 7757980095.

**P: (Opcional) Qual é a esperança de vida global a nível mundial?**

*Dica: Terá de retirar uma média ponderada de esperança de vida usando as populações como pesos.*

In [13]:
espenca_media_global = countries_df.life_expectancy.mean()
print('A expectativa de vida média global é de {} anos.'.format(espenca_media_global))

A expectativa de vida média global é de 73.52985507246377 anos.

**P4: Crie um dataframe contendo os 10 países com maior população.**

*Dica: Chame em sequência os métodos `sort_values` e `head`.*

In [22]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

**P5: Adicione uma nova coluna em `countries_df` para guardar o PIB global por país (produto da população com o PIB per capita).**

In [25]:
countries_df['gdp'] = countries_df.gdp_per_capita * countries_df.population
countries_df.sort_values('gdp',ascending=False).head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12
73,Germany,Europe,8.378394e+07,81.33,8.00,45229.245,3.789485e+12
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
198,United Kingdom,Europe,6.788600e+07,81.32,2.54,39753.244,2.698689e+12
68,France,Europe,6.527351e+07,82.66,5.98,38605.671,2.519928e+12

**P: (Opcional) Crie um dataframe contendo os 10 países com menor PIB per capita, de entre os países com população superior a 100 milhões.**

**P6: Crie um dataframe que conta o número de países em cada continente**

*Dica: Use o `groupby`, selecione a coluna `location` e agregue com `count`.*

In [ ]:
country_counts_df = ???

In [ ]:
country_counts_df

**P7: Crie um dataframe que mostre a população total de cada continente.**

*Dica: Use o `groupby`, selecione a coluna da população e agregue com `sum`.*

In [ ]:
continent_populations_df = ???

In [ ]:
continent_populations_df

Vamos fazer o download de outro ficheiro CSV contendo estatísticas globais da Covid-19 stats para vários países, e ler os dados para outro dataframe Pandas.

In [ ]:
urlretrieve('https://raw.githubusercontent.com/davsimoes/mcde-pds/main/res/covid-countries-data.csv', 
            'covid-countries-data.csv')

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

**P8: Conte o número de países para os quais os dados `total_tests` estão em falta.**

*Dica: Use o método `.isna`.*

In [ ]:
total_tests_missing = ???

In [ ]:
print("Os dados para os testes totais estão em falta para {} países.".format(int(total_tests_missing)))

Vamos juntar os dois dataframes, e calcular mais algumas métricas.

**P9: Faça a junção de `countries_df` com `covid_data_df` sobre a coluna `location`.**

*Dica: Use o método `.merge` em `countries_df`.*

In [ ]:
combined_df = ???

In [ ]:
combined_df

**P10: Adicione colunas `tests_per_million`, `cases_per_million` e `deaths_per_million` em `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = ???

In [ ]:
combined_df['deaths_per_million'] = ???

In [ ]:
combined_df

**P11: Crie um dataframe com os 10 países com o maior número de testes por milhão de habitantes.**

In [ ]:
highest_tests_df = ???

In [ ]:
highest_tests_df

**P12: Crie um dataframe com os 10 países que têm mais casos positivos por milhão de habitantes.**

In [ ]:
highest_cases_df = ???

In [ ]:
highest_cases_df

**P13: Crie um dataframe com os 10 países que têm mais casos de morte por milhão de habitantes**

In [ ]:
highest_deaths_df = ???

In [ ]:
highest_deaths_df

**(Opcional) P: Conte o número de países que constam em ambas as listas "maior número de testes por milhão" e "maior número de casos por milhão".**

**(Opcional) P: Conte o número de países que constam em ambas as listas "20 países com o menor PIB per capita" e "20 países com o menor número de camas de hospital por milhar de habitantes". Ao criar a lista, considere apenas países com uma população superior a 10 milhões.**