# Exercício de Aula 5 - Análise de Dados com Pandas

Neste exercício, poderá praticar alguns dos conceitos cobertos na aula

Ao percorrer este notebook, irá encontrar um **???** em certos sítios. Para completar este exercício, deverá substituir todos os **???** com valores, expressões ou instruções apropriadas de forma a garantir que o notebook executa corretamente do início até ao fim.

Algumas coisas para ter em mente:

* Certifique-se que executa todas as células de código, de outra forma poderá obter erros como `NameError` para variáveis não definidas.
* Não altere nomes de variáveis, não apague células nem altere outro código existente. Pode causar problemas na avaliação.
* Em alguns casos, pode ter de adicionar algumas células de código ou novas instruções antes ou depois da linha de código contendo os **???**. 
* As questões marcadas com **(Opcional)** não são consideradas para avaliação e podem ser ignoradas, sendo apenas para desafio ou aprendizagem adicional.

In [1]:
import pandas as pd

C:\Users\klysm\AppData\Local\Temp\ipykernel_2768\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Neste exercício, vamos analisar e trabalhar com dados de um ficheiro CSV. Vamos começar por descarregar o ficheiro CSV.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://raw.githubusercontent.com/davsimoes/mcde-pds/main/res/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1f64b102aa0>)

Vamos carregar os dados do ficheiro CSV para um dataframe Pandas.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**P1: Quantos países é que estão contidos no dataframe?**

Dica: Use o método `.shape`.

In [5]:
num_countries = countries_df.shape[0]
print('Existem {} países no dataset'.format(num_countries))

Existem 210 países no dataset

**P2: Obtenha uma lista de continentes do dataframe**

*Hint: Use o método `.unique` de uma série.*

In [6]:
continents = countries_df.continent.unique()
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

**P3: Qual é a população total de todos os países listados neste dataset?**

In [7]:
total_population = countries_df.population.sum()
print('A população total é {}.'.format(int(total_population)))

A população total é 7757980095.

**P: (Opcional) Qual é a esperança de vida global a nível mundial?**

*Dica: Terá de retirar uma média ponderada de esperança de vida usando as populações como pesos.*

In [8]:
espenca_media_global = countries_df.life_expectancy.mean()
print('A expectativa de vida média global é de {} anos.'.format(espenca_media_global))

A expectativa de vida média global é de 73.52985507246377 anos.

**P4: Crie um dataframe contendo os 10 países com maior população.**

*Dica: Chame em sequência os métodos `sort_values` e `head`.*

In [9]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

**P5: Adicione uma nova coluna em `countries_df` para guardar o PIB global por país (produto da população com o PIB per capita).**

In [10]:
countries_df['gdp'] = countries_df.gdp_per_capita * countries_df.population
countries_df.sort_values('gdp',ascending=False).head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12
73,Germany,Europe,8.378394e+07,81.33,8.00,45229.245,3.789485e+12
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
198,United Kingdom,Europe,6.788600e+07,81.32,2.54,39753.244,2.698689e+12
68,France,Europe,6.527351e+07,82.66,5.98,38605.671,2.519928e+12

**P: (Opcional) Crie um dataframe contendo os 10 países com menor PIB per capita, de entre os países com população superior a 100 milhões.**

In [16]:
lower_gdp = countries_df.copy()[countries_df.population > 10000000].sort_values('gdp_per_capita',ascending=True).head(10)
lower_gdp

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10

**P6: Crie um dataframe que conta o número de países em cada continente**

*Dica: Use o `groupby`, selecione a coluna `location` e agregue com `count`.*

In [22]:
country_counts_df = countries_df.groupby('continent').size().reset_index(name='num_countries')
country_counts_df

       continent  num_countries
0         Africa             55
1           Asia             47
2         Europe             51
3  North America             36
4        Oceania              8
5  South America             13

**P7: Crie um dataframe que mostre a população total de cada continente.**

*Dica: Use o `groupby`, selecione a coluna da população e agregue com `sum`.*

In [26]:
continent_populations_df = countries_df.groupby('continent').population.sum().reset_index().sort_values('population',ascending=False)
continent_populations_df

       continent    population
1           Asia  4.607388e+09
0         Africa  1.339424e+09
2         Europe  7.485062e+08
3  North America  5.912425e+08
5  South America  4.304611e+08
4        Oceania  4.095832e+07

Vamos fazer o download de outro ficheiro CSV contendo estatísticas globais da Covid-19 stats para vários países, e ler os dados para outro dataframe Pandas.

In [29]:
urlretrieve('https://raw.githubusercontent.com/davsimoes/mcde-pds/main/res/covid-countries-data.csv', 
            'covid-countries-data.csv')
covid_data_df = pd.read_csv('covid-countries-data.csv')
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**P8: Conte o número de países para os quais os dados `total_tests` estão em falta.**

*Dica: Use o método `.isna`.*

In [32]:
total_tests_missing = covid_data_df.total_tests.isna().sum()
print(f'Existem {total_tests_missing} países sem dados de testes.')

Existem 122 países sem dados de testes.

Vamos juntar os dois dataframes, e calcular mais algumas métricas.

**P9: Faça a junção de `countries_df` com `covid_data_df` sobre a coluna `location`.**

*Dica: Use o método `.merge` em `countries_df`.*

In [34]:
combined_df = countries_df.merge(covid_data_df, on='location')
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

**P10: Adicione colunas `tests_per_million`, `cases_per_million` e `deaths_per_million` em `combined_df`.**

In [37]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

**P11: Crie um dataframe com os 10 países com o maior número de testes por milhão de habitantes.**

In [44]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending=False).head(10).copy()
highest_tests_df[['location', 'tests_per_million']]

                 location  tests_per_million
197  United Arab Emirates      725696.635121
14                Bahrain      657527.137965
115            Luxembourg      616349.508607
122                 Malta      427004.183096
53                Denmark      422621.755488
96                 Israel      271962.665303
89                Iceland      260304.761905
157                Russia      254750.159763
199         United States      253467.507769
10              Australia      245326.517406

**P12: Crie um dataframe com os 10 países que têm mais casos positivos por milhão de habitantes.**

In [46]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending=False).head(10).copy()
highest_cases_df[['location', 'cases_per_million']]

          location  cases_per_million
155          Qatar       41375.743650
14         Bahrain       30818.361490
147         Panama       21805.112117
40           Chile       21695.671982
162     San Marino       21657.139490
9            Aruba       20708.839893
105         Kuwait       20249.789079
150           Peru       20121.318048
27          Brazil       18808.224105
199  United States       18472.377957

**P13: Crie um dataframe com os 10 países que têm mais casos de morte por milhão de habitantes**

In [47]:
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending=False).head(10).copy()
highest_deaths_df[['location', 'deaths_per_million']]

           location  deaths_per_million
162      San Marino         1237.550828
150            Peru          887.393445
18          Belgium          854.040375
3           Andorra          685.950948
177           Spain          624.406705
198  United Kingdom          611.525168
40            Chile          593.423100
97            Italy          587.097697
27           Brazil          582.331314
182          Sweden          576.279276

**(Opcional) P: Conte o número de países que constam em ambas as listas "maior número de testes por milhão" e "maior número de casos por milhão".**

In [72]:
some_list = highest_cases_df.merge(highest_cases_df, on='location').copy()
some_list[['location', 'cases_per_million_x', 'deaths_per_million_y']].sort_values('deaths_per_million_y', ascending=False)

        location  cases_per_million_x  deaths_per_million_y
4     San Marino         21657.139490           1237.550828
7           Peru         20121.318048            887.393445
3          Chile         21695.671982            593.423100
8         Brazil         18808.224105            582.331314
9  United States         18472.377957            561.155633
2         Panama         21805.112117            470.477208
6         Kuwait         20249.789079            125.276222
5          Aruba         20708.839893            112.395332
1        Bahrain         30818.361490            111.660730
0          Qatar         41375.743650             69.071800

**(Opcional) P: Conte o número de países que constam em ambas as listas "20 países com o menor PIB per capita" e "20 países com o menor número de camas de hospital por milhar de habitantes". Ao criar a lista, considere apenas países com uma população superior a 10 milhões.**

In [76]:
countries_10m = combined_df.where(combined_df.population > 10e6).dropna()
countries_lower_gdp = countries_10m.sort_values('gdp_per_capita',ascending=True ).head(20).copy()
countries_lower_bed = countries_10m.sort_values('hospital_beds_per_thousand',ascending=True).head(20).copy()
marger_lower_gdp_bed = countries_lower_gdp.merge(countries_lower_bed, on='location')
marger_lower_gdp_bed[['location', 'gdp_per_capita_x', 'hospital_beds_per_thousand_y']].sort_values('hospital_beds_per_thousand_y', ascending=False)

       location  gdp_per_capita_x  hospital_beds_per_thousand_y
2      Zimbabwe          1899.775                          1.70
15         Peru         12236.706                          1.60
13      Ecuador         10581.936                          1.50
4         Kenya          2993.028                          1.40
10      Bolivia          6885.829                          1.10
11      Morocco          7485.013                          1.10
14    Indonesia         11188.744                          1.04
12  Philippines          7599.188                          1.00
6         Ghana          4227.630                          0.90
8       Myanmar          5591.597                          0.90
5    Bangladesh          3523.984                          0.80
7      Pakistan          5034.708                          0.60
9         India          6426.674                          0.53
0        Uganda          1697.707                          0.50
1      Ethiopia          1729.927                          0.30
3         Nepal          2442.804                          0.30